@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Hellow World Linx OS Site</h2>
    <h3>Srikanth Yarrapatni</h3>

   
    @{ 
    
    var date = DateTime.Now.ToString();
    
    
    }

    <h4> Server Time : @date</h4>

   <h3>Updated...</h3>
</div>
